@font-face{
  font-family: 'boldedico';
  src:url(../fonts/boldedico.otf) format('opentype');
}


.logoimg img{
  width: 13vw;
  padding: 2vw;
  cursor: pointer;
}
.header{
  display: flex;
  justify-content: space-between;
}

.btn-menu img{
  padding: 2vw;
  cursor: pointer;
  animation: pulse 2s infinite;
  width: 8vw;
}

.menu{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(12 12 12 / 82%);
  z-index: 9;
}

.logomenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-cont-txt{
  display: flex;
  color: white;
  justify-content: space-around;
  margin-top: 5vw;
  font-family: boldedico;
  font-size: 2vw;
}
.menu-cont-txt p{
  padding: 3vw;
}
.menu-cont-txt p:hover{
  cursor: pointer;
  background-color: #009688a6;
  
  border-radius: 2vw;
}
.equis{
  margin: 5vw;
  cursor: pointer;
}

.redesmenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redesmenu img{
  margin: 2vw;
}

.contenido-clases .title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5vw;
  font-family: boldedico;
}
.clases-sec{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clases-sec p{
  color: white;
  font-size: 2vw;
  font-family: boldedico;
  padding: 2vw;
}
.html{
  background-color: #de4b25;
  cursor: grab;
  transform: rotate(-11deg);
}
.css{
  background-color: #2173f7;
  cursor: grab;
  transform: rotate(11deg);
}
.js{
  background-color: #efd81d;
  cursor: grab;
  transform: rotate(-11deg);
}
.my{
  background-color: #005e86;
  cursor: grab;
  transform: rotate(11deg);
}
.php{
  background-color: #52628f;
  cursor: grab;
  transform: rotate(-11deg);

}

.html:hover{
  animation: rebote 1s infinite;
}
.css:hover{
  animation: rebote 1s infinite;
}
.js:hover{
  animation: rebote 1s infinite;
}
.my:hover{
  animation: rebote 1s infinite;
}
.php:hover{
  animation: rebote 1s infinite;
}

.contenido-servicios{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenido-servicios p{
  color: white;
  font-family: boldedico;
  font-size: 2vw;
  padding: 2vw;
}

.contenido-productos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenido-productos p{
  color: white;
  font-family: boldedico;
  font-size: 2vw;
  padding: 2vw;
}

.productossec{
  background-color: #8BC34A;
  cursor: grab;
  transform: rotate(-11deg);
}
.audiolibros{
  background-color: #e91e63;
  cursor: grab;
  transform: rotate(11deg);
}
.libros{
  background-color: #009688;
  cursor: grab;
  transform: rotate(-11deg);
}

.productossec:hover{
  animation: rebote 1s infinite;
}
.audiolibros:hover{
  animation: rebote 1s infinite;
}
.libros:hover{
  animation: rebote 1s infinite;
}

.title-productos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-productos img{
  width: 5vw;
  transform: rotate(-45deg);
  margin-right: 5vw;
  cursor: pointer;
}
.title-productos p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}
.tiel-prin p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}
.title-servicios p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}

.pagweb{
  background-color: #ffc107;
  cursor: grab;
  transform: rotate(-11deg);
}
.sisw{
  background-color: #009688;
  cursor: grab;
  transform: rotate(11deg);
}
.pventa{
  background-color: #e91e63;
  cursor: grab;
  transform: rotate(-11deg);
}
.drag{
  z-index: 7;
}
.clasestitle{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}

.cont-dividido{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.txtglobau{
position: absolute;
    color: white;
    font-family: boldedico;
    font-size: 2vw;
    padding: 2vw;
    width: 23%;
    right:32vw;
}

.loadimgau{
  width: 22vw;
    margin-right: 11vw;
}
.globrau{
  width: 28vw;
  margin-right: -6vw;
}
.contenido-audio{
  display: flex;
  flex-direction: column;
  color: white;
}
.line1{
  display: flex;
  align-items: center;
}
.line1 p{
  background-color: #8bc34a;
  text-align: center;
  margin: 2vw;
  padding: 1vw;
  cursor: grab;
  font-family: boldedico;
  font-size: 2vw;
  transform: rotate(-9deg);
}
.line2{
  display: flex;
  align-items: center;
}
.line2 p{
  background-color: #ffc107;
  text-align: center;
  margin: 2vw;
  padding: 1vw;
  cursor: grab;
   font-size: 2vw;
  font-family: boldedico;
  transform: rotate(-9deg);
}
.line3{
  display: flex;
  align-items: center;
}
.line3 p{
  background-color: #009688;
  text-align: center;
  margin: 2vw;
  padding: 1vw;
  cursor: grab;
    font-size: 2vw;
    font-family: boldedico;
  transform: rotate(-9deg);
}
.line3 p:hover{
  animation: rebote 1s;
}
.line2 p:hover{
  animation: rebote 1s;
}
.line1 p:hover{
  animation: rebote 1s;
}

.modalreproductor{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background-color: rgb(44 32 20 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoomimg 2s;
  display: none;
}
.modalreproductor-cont{
  width: 70%;
  display: flex;
  justify-content: center;
  background: #009688;
  padding: 1vw;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  border: 0.5vw #104e48 solid;
}
.btn-play{
  width: 18vw;
  animation: pulse 2s infinite;
  cursor: pointer;
}
.titlerepro p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}
.cerrarmodal p{
  color: white;
    font-family: boldedico;
    font-size: 5vw;
    padding: 2vw;
    cursor: pointer;
}
.cerrarmodal{
  position: absolute;
    margin-top: -23%;
    margin-left: 63%;
}
.stopimg{
      width: 14vw;
}
.playim{
  display: flex;
}
.robotareaaudio{
  display: flex;
  justify-content: center;
  align-items: center;
}
.face{
  width: 10vw;
  cursor: pointer;
}
.whats{
  width: 6.5vw;
  cursor: pointer;
}
.face:hover{
  animation: rebote 1s;
}
.whats:hover{
  animation: rebote 1s;
}
.equis{
  font-family: boldedico;
  color: white;
  font-size: 3vw;
}

.cerrarmusic{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 52vw;
}
.cerrarmusic p{
  font-size: 1.5rem;
    font-weight: bold;
    color: #FF9800;
    font-family: boldedico;
}

.pp{
  width: 3rem;
    background: red;
    height: 2rem;
    border-radius: 2vw;
    cursor: pointer;
}

.cargando{
  font-size: 1rem;
    color: white;
    animation: pulse 1s infinite;
    display: none;
}

.contsonido{
  background-color: #ff9800;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  margin-top: 2vw;
}
.contsonido:hover{
  background-color: #e91e63;
}

.contsonido img{
  width: 100%;
}
.contsonido p{
  font-size: 1rem;
  font-weight: bold;
}

.modalservic{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF9800;
  top: 0;
  z-index: 7;
  display: none;
  animation: zoomimg 2s;
  -webkit-box-shadow: inset -1px -8px 42px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -1px -8px 42px 12px rgba(0,0,0,0.75);
  box-shadow: inset -1px -8px 42px 12px rgba(0,0,0,0.75);
}
.service-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titlemodalservic{
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.txtmodalserv1{
  font-size: 1rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}
.txtmodalserv2{
  font-size: 1rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}
.txtmodalserv{
  font-size: 1rem;
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}
.service-cont button{
  padding: 0.5rem;
  border: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  color: white;
  background-color: #009688;
  -webkit-box-shadow: inset -1px -8px 42px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -1px -8px 42px 12px rgba(0,0,0,0.75);
  box-shadow: inset -1px -8px 42px 12px rgba(0,0,0,0.75);
}
.worpng{
  width: 20vw;
}






@keyframes glow {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem red);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem red);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem red);
  }
}

@keyframes glow2 {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem green);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem green);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem green);
  }
}
@keyframes glow3 {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem #f7b731);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem #f7b731);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem #f7b731);
  }
}




@keyframes zoom {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes zoomimg {
    0% {
      -webkit-transform:scale(0.1);transform:scale(0.1)
    }
    100% {
      -webkit-transform:scale(1);transform:scale(1)
    }
  }



@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  50% {
    transform: scale(0.80, 0.80);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 1; }
}

@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

@keyframes rotate {
  0% { -webkit-transform: rotateY(45deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(45deg);
  transform-style: preserve-3d; }
  30% { -webkit-transform: rotateY(90deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(90deg);
  transform-style: preserve-3d; }
  100% { -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }
}

@keyframes wiggle {
  20% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(7deg);
  }
  
  40% {
    box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-14deg);
  }
  
  60% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(4deg);
  }
  
  80% {
    box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-2deg);
  }
  
  100% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(1, 1.1); }
  50% { transform: scale(1.1, 1); }
  75% { transform: scale(0.65, 1.05); }
}

@-webkit-keyframes pendulo {
  0% {
        -webkit-transform: rotate(-25deg);
    }

    50% {
        -webkit-transform: rotate(25deg);
    }

    100% {
        -webkit-transform: rotate(-25deg);
    }
}

@-webkit-keyframes todosFlotan{
  0%{-webkit-transform:translatey(-45px);transform:translatey(-45px)}
50%{-webkit-transform:translatey(0);transform:translatey(0)}
to{-webkit-transform:translatey(-45px);transform:translatey(-45px)}}

@-webkit-keyframes rebote {
  0%, 50%, 100% {
    transform: translateY(0);
}
30% {
    transform: translateY(-15px);
}

80% {
    transform: translateY(15px);
}
}



@media (max-width: 780px) and (max-height: 277px){
  .robotareaaudio .txtglobau{
    right: 32vw;
  }
  .face{
    width: 6vw;
  }
  .whats{
    width: 4.5vw;
  }
  .logomenu{
    height: 20vh;
  }
  .header p{
    font-size: 3vw;
  }
  .line1 p{
    margin: 1vw;
    padding: 1vw;

  }

    .line2 p{
    margin: 1vw;
    padding: 1vw;

  }

    .line3 p{
    margin: 1vw;
    padding: 1vw;

  }
}


.main_cuartolandscape{
  display: none;
}
.loadimg2{
  width: 15vw,
}

.contenido-secciones p{
  font-size: 2vw;
  color: white;
  font-family: boldedico;
}

.title-conact{
  display: flex;
      justify-content: center;
      align-items: center;
}
.title-conact img{
  width: 15vw;
}
.redesMapa{
  text-align: center;
  margin: 2rem;
}
.mapa img{
  width: 45vw;
}
.footer{
  background: #FF9800;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 2rem;
  margin-top: 2vw;
}
.contactnumber{
  background: #ff9800;
  text-align: center;
  padding: 2rem;
  margin-bottom:2rem;
}
.descripcontact{
  font-size: 1.5rem;
    font-weight: 500;
}
.tel{
  font-size: 2rem;
  font-weight: bold;
}
.emailcon{
  font-size: 1.5rem;
  font-weight: 500;
}



@media (orientation: portrait) {
  .mapa img{
    width: 90vw;
  }

  .loadimg2{
    position: absolute;
    bottom: 0vh;
    width: 52vw;
    right: 6vw;
  }
  .contenido-secciones{
    display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
  }
  .contenido-secciones p{
    font-size: 3.5vw;
  }
  .drop{
    padding: 2vw;
  }
  .conts{
    margin: 2vw;
    width: 30vw;
  }
  .servimg{
    width: 15vw;
  }
  .contw{
    margin: 2vw;
    width: 30vw;
  }
  .webimg{
    width: 15vw;
  }
  .contp{
     margin: 2vw;
    width: 30vw;
  }
  .produimg{
    width: 15vw;
  }
  .globr2{
    left: 5vw;
    width: 48vw;
    bottom: 6vh;
  }
  .txtglob2 {
    position: absolute;
    width: 33vw;
    left: 8vw;
    animation: zoomimg 5s;
    font-size: 3.5vw;
    color: white;
    z-index: 1;
    margin-bottom: 0%;
    bottom: 7vh;
  }
  .btn-menu img{
    width: 17vw;
  }
  .tiel-prin p{
    font-size: 7vw;
  }
  .logoimg img{
        width: 21vw;
  }
  .redes {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 35vw;
    flex-direction: column;
    bottom: 2vh;
    flex-direction: row;
    display: none;
    
  }
  .face{
    width: 15vw;
    margin: 2vw;
  }
  .whats{
    width: 10.5vw;
    margin: 2vw;
  }

  .menu-cont-txt{
    display: flex;
    color: white;
    justify-content: space-around;
    margin-top: 5vw;
    font-family: boldedico;
    font-size: 7vw;
    flex-direction: column;
    align-items: center;
  }
  .equis{
    font-size: 10vw;
  }

  .title-productos p{
    font-size: 7vw;
  }
  .title-productos img{
    width: 10vw;
  }
  .contenido-servicios{
    flex-direction: column;
  }

  .contenido-servicios p{
    font-size: 7vw;
  }
  .web{
    margin: 5vw;
  }
  .sistemas{
    margin: 5vw;
  }
  .punto_venta{
    margin: 5vw;
  }
  .clases-sec{
    flex-direction: column;
  }
  .clases-sec p{
    font-size: 4vw;
  }
  .html{
    margin: 5vw;
  }
  .css{
    margin: 5vw;
  }
  .js{
    margin: 5vw;
  }
  .mysql{
    margin: 5vw;
  }
  .php{
    margin: 5vw;
  }
  .contenido-productos{
    flex-direction: column;
  }
  .contenido-productos p{
    font-size: 5vw;
  }
  .productosc{
    margin: 2vw;
  }
  .audiolibrossec{
    margin: 2vw;
  }
  .librosinteractivos{
    margin: 2vw;
  }
  .cont-dividido{
    flex-direction: column;
  }
  .contenido-audio{
    justify-content: center;
    align-items: center;
  }
  .line1 p{
    font-size: 4vw;
  }
  .line2 p{
    font-size: 4vw;
  }
  .line3 p{
    font-size: 4vw;
  }

  .loadimgau {
    width: 52vw;
    margin-right: 0vw;
  }
  .robotareaaudio{
    justify-content: space-between;

  }

  .globrau{
    width: 50vw;
  }
  .txtglobau{
        position: absolute;
    color: white;
    font-family: boldedico;
    font-size: 4vw;
    padding: 2vw;
    width: 33%;
    /* right: 32vw; */
    left: 3vw;
  }

  
}
