
.contitem{
  background: #ff9800;
  text-align: center;
  padding: 1vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 1rem;
    padding-top: 1rem;
}
.contitem:hover{
	background: #f44336;
}
.mainini-shop{
  background-color: rgb(44,32,20,100);
  overflow: auto;
}
.itemcont img{
  width: 50%;
}
.contitem button{
	background: white;
    padding: 0.5rem;
    border: 0px;
    font-size: 1.5rem;
    outline: none;
    font-weight: bold;
}
.contitem button:hover{
	background-color: #ff9800;
}
.titleproducto{
	font-size: 1.5rem;
}
.descripproduct{
	font-size: 1.3rem;
	text-align: left;
}
.price-product{
	font-size: 2rem;
    font-weight: bold;
}
.itemcont .price-product span{
	font-size: 1.5vw;
}

.modal-detalles{
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  display: none;
  flex-direction: column;
}
.modal-detalles-cont{
 display: flex;
 flex-direction: row;
 overflow: auto;
}
.imgdetalle{
  width: 30rem;
}

.comprarbtn{
  display: flex;
}
.detalles-txt{
  color: #333;
  margin-left: 1rem;
}

.detalles-txt button{
  border:0px;
  background-color: #ff9800;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  border-radius: 2vw;
  outline: none;
}
.tituloM{
  margin: 0;
  font-size: 2.5rem;
  line-height: 2;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
  color: #ff5722;
  margin-top: 10rem;
}
.descripcionM{
  margin: 0;
  font-size: 2rem;
  line-height: 1;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}
.precioM{
  font-size: 3rem;
  margin-top: 2rem;
}
.detalles-txt span{
  font-size: 3rem;
}

.cerraritem{
  text-align: right;
  font-family: boldedico;
  font-size: 3rem;
}
.cerraritem p{
  margin-right: 1rem;
  color: #ff9800;
  cursor: pointer;
}


@media (orientation: portrait) {
  .modal-detalles{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    display: none;
  }
  .modal-detalles-cont{
   display: flex;
   flex-direction: column;
   overflow: auto;
  }
  .imgdetalle{
     width: 21rem;
  }
  .comprarbtn{
    display: flex;
    justify-content: center;align-items: center;
  }
  .tituloM{
    margin-top: 5rem;
  }

}
