

.contTable{
	margin: 5vw;
}
h1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.table{
	color: black;
	text-align: center;
	font-weight: bold;
}

.img_video{
	width: 25vw;
	cursor: pointer;
}
.desc_video{
	text-align: left;
	font-weight: 100;
}