@font-face{
  font-family: 'boldedico';
  src:url(../fonts/boldedico.otf) format('opentype');
}






@keyframes glow {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem red);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem red);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem red);
  }
}




@keyframes zoom {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes zoomimg {
    0% {
      -webkit-transform:scale(0.1);transform:scale(0.1)
    }
    100% {
      -webkit-transform:scale(1);transform:scale(1)
    }
  }



@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  50% {
    transform: scale(0.80, 0.80);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 1; }
}

@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

@keyframes rotate {
  0% { -webkit-transform: rotateY(45deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(45deg);
  transform-style: preserve-3d; }
  30% { -webkit-transform: rotateY(90deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(90deg);
  transform-style: preserve-3d; }
  100% { -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }
}

@keyframes wiggle {
  20% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(7deg);
  }
  
  40% {
    box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-14deg);
  }
  
  60% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(4deg);
  }
  
  80% {
    box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-2deg);
  }
  
  100% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(1, 1.1); }
  50% { transform: scale(1.1, 1); }
  75% { transform: scale(0.65, 1.05); }
}

@-webkit-keyframes pendulo {
  0% {
        -webkit-transform: rotate(-25deg);
    }

    50% {
        -webkit-transform: rotate(25deg);
    }

    100% {
        -webkit-transform: rotate(-25deg);
    }
}

@-webkit-keyframes todosFlotan{
  0%{-webkit-transform:translatey(-45px);transform:translatey(-45px)}
50%{-webkit-transform:translatey(0);transform:translatey(0)}
to{-webkit-transform:translatey(-45px);transform:translatey(-45px)}}