@font-face{
  font-family: 'boldedico';
  src:url(../fonts/boldedico.otf) format('opentype');
}


.logoimg img{
  width: 10vw;
  padding: 2vw;
  cursor: pointer;
}
.header{
  display: flex;
  justify-content: space-between;
}

.btn-menu img{
  padding: 2vw;
  cursor: pointer;
  animation: pulse 2s infinite;
  width: 8vw;
}

.menu{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(44,32,20,100);
  z-index: 9;
}

.logomenu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-cont-txt{
  display: flex;
  color: white;
  justify-content: space-around;
  margin-top: 5vw;
  font-family: boldedico;
  font-size: 2vw;
}
.menu-cont-txt p{
  padding: 3vw;
}
.menu-cont-txt p:hover{
  cursor: pointer;
  background-color: #fe8208;
  
  border-radius: 2vw;
}
.equis{
  margin: 5vw;
  cursor: pointer;
}

.redesmenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redesmenu img{
  margin: 2vw;
}

.contenido-clases .title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5vw;
  font-family: boldedico;
}
.clases-sec{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clases-sec p{
  color: white;
  font-size: 2vw;
  font-family: boldedico;
  padding: 2vw;
}
.html{
  background-color: #de4b25;
  cursor: grab;
  transform: rotate(-11deg);
}
.css{
  background-color: #2173f7;
  cursor: grab;
  transform: rotate(11deg);
}
.js{
  background-color: #efd81d;
  cursor: grab;
  transform: rotate(-11deg);
}
.my{
  background-color: #005e86;
  cursor: grab;
  transform: rotate(11deg);
}
.php{
  background-color: #52628f;
  cursor: grab;
  transform: rotate(-11deg);

}

.html:hover{
  animation: rebote 1s infinite;
}
.css:hover{
  animation: rebote 1s infinite;
}
.js:hover{
  animation: rebote 1s infinite;
}
.my:hover{
  animation: rebote 1s infinite;
}
.php:hover{
  animation: rebote 1s infinite;
}

.contenido-servicios{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenido-servicios p{
  color: white;
  font-family: boldedico;
  font-size: 2vw;
}

.contenido-productos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenido-productos p{
  color: white;
  font-family: boldedico;
  font-size: 2vw;
  padding: 2vw;
}

.productossec{
  background-color: #8BC34A;
  cursor: grab;
  transform: rotate(-11deg);
}
.audiolibros{
  background-color: #e91e63;
  cursor: grab;
  transform: rotate(11deg);
}
.libros{
  background-color: #009688;
  cursor: grab;
  transform: rotate(-11deg);
}

.productossec:hover{
  animation: rebote 1s infinite;
}
.audiolibros:hover{
  animation: rebote 1s infinite;
}
.libros:hover{
  animation: rebote 1s infinite;
}

.title-productos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-productos img{
  width: 5vw;
  transform: rotate(-45deg);
  margin-right: 5vw;
  cursor: pointer;
}
.title-productos p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}
.tiel-prin p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}
.title-servicios p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}

.pagweb{
  background-color: #009688;
  cursor: grab;
  transform: rotate(-11deg);
}
.sisw{
  background-color: #009688;
  cursor: grab;
  transform: rotate(11deg);
}
.pventa{
  background-color: #009688;
  cursor: grab;
  transform: rotate(-11deg);
}
.drag{
  z-index: 7;
}
.clasestitle{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}

.cont-dividido{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.txtglobau{
position: absolute;
    color: white;
    font-family: boldedico;
    font-size: 2vw;
    padding: 2vw;
    width: 23%;
    margin-left: -32%;
}

.loadimgau{
  width: 22vw;
    margin-right: 11vw;
}
.globrau{
  width: 28vw;
  margin-right: -6vw;
}
.contenido-audio{
  display: flex;
  flex-direction: column;
  color: white;
}
.line1{
  display: flex;
  align-items: center;
}
.line1 p{
  background-color: #8bc34a;
  text-align: center;
  margin: 2vw;
  padding: 1vw;
  cursor: grab;
  font-family: boldedico;
  font-size: 2vw;
  transform: rotate(-9deg);
}
.line2{
  display: flex;
  align-items: center;
}
.line2 p{
  background-color: #ffc107;
  text-align: center;
  margin: 2vw;
  padding: 1vw;
  cursor: grab;
   font-size: 2vw;
  font-family: boldedico;
  transform: rotate(-9deg);
}
.line3{
  display: flex;
  align-items: center;
}
.line3 p{
  background-color: #009688;
  text-align: center;
  margin: 2vw;
  padding: 1vw;
  cursor: grab;
    font-size: 2vw;
    font-family: boldedico;
  transform: rotate(-9deg);
}
.line3 p:hover{
  animation: rebote 1s;
}
.line2 p:hover{
  animation: rebote 1s;
}
.line1 p:hover{
  animation: rebote 1s;
}

.modalreproductor{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background-color: rgb(44 32 20 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoomimg 2s;
  display: none;
}
.modalreproductor-cont{
  width: 70%;
  display: flex;
  justify-content: center;
  background: #009688;
  padding: 1vw;
  flex-direction: column;
  align-items: center;
  border-radius: 2vw;
  border: 0.5vw #104e48 solid;
}
.btn-play{
  width: 10vw;
  animation: pulse 2s infinite;
  cursor: pointer;
}
.titlerepro p{
  color: white;
  font-family: boldedico;
  font-size: 5vw;
  padding: 2vw;
}
.cerrarmodal p{
  color: white;
    font-family: boldedico;
    font-size: 5vw;
    padding: 2vw;
    cursor: pointer;
}
.cerrarmodal{
  position: absolute;
    margin-top: -23%;
    margin-left: 63%;
}
.stopimg{
  width: 15vw;
}
.playim{
  display: flex;
}
.robotareaaudio{
  display: flex;
  justify-content: center;
  align-items: center;
}
.face{
  width: 10vw;
  cursor: pointer;
}
.whats{
  width: 6.5vw;
  cursor: pointer;
}
.face:hover{
  animation: rebote 1s;
}
.whats:hover{
  animation: rebote 1s;
}
.equis{
  font-family: boldedico;
  color: white;
  font-size: 3vw;
}






@keyframes glow {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem red);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem red);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem red);
  }
}

@keyframes glow2 {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem green);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem green);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem green);
  }
}
@keyframes glow3 {
  0% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem #f7b731);
  }
  50% {
    filter: drop-shadow(0.0625rem 0.0625rem 1.375rem #f7b731);
  }
  100% {
    filter: drop-shadow(0.0625rem 0.0625rem 0.0625rem #f7b731);
  }
}




@keyframes zoom {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes zoomimg {
    0% {
      -webkit-transform:scale(0.1);transform:scale(0.1)
    }
    100% {
      -webkit-transform:scale(1);transform:scale(1)
    }
  }



@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  50% {
    transform: scale(0.80, 0.80);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 1; }
}

@keyframes identifier {
  0% { top: 0; left: 0; }
  30% { top: 50px; }
  68%, 72% { left: 50px; }
  100% { top: 100px; left: 100%; }
}

@keyframes rotate {
  0% { -webkit-transform: rotateY(45deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(45deg);
  transform-style: preserve-3d; }
  30% { -webkit-transform: rotateY(90deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(90deg);
  transform-style: preserve-3d; }
  100% { -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }
}

@keyframes wiggle {
  20% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(7deg);
  }
  
  40% {
    box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-14deg);
  }
  
  60% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(4deg);
  }
  
  80% {
    box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-2deg);
  }
  
  100% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(1, 1.1); }
  50% { transform: scale(1.1, 1); }
  75% { transform: scale(0.65, 1.05); }
}

@-webkit-keyframes pendulo {
  0% {
        -webkit-transform: rotate(-25deg);
    }

    50% {
        -webkit-transform: rotate(25deg);
    }

    100% {
        -webkit-transform: rotate(-25deg);
    }
}

@-webkit-keyframes todosFlotan{
  0%{-webkit-transform:translatey(-45px);transform:translatey(-45px)}
50%{-webkit-transform:translatey(0);transform:translatey(0)}
to{-webkit-transform:translatey(-45px);transform:translatey(-45px)}}

@-webkit-keyframes rebote {
  0%, 50%, 100% {
    transform: translateY(0);
}
30% {
    transform: translateY(-15px);
}

80% {
    transform: translateY(15px);
}
}



@media (max-width: 780px) and (max-height: 277px){
  .logomenu{
    height: 20vh;
  }
  .header p{
    font-size: 3vw;
  }
  .line1 p{
    margin: 1vw;
    padding: 1vw;

  }

    .line2 p{
    margin: 1vw;
    padding: 1vw;

  }

    .line3 p{
    margin: 1vw;
    padding: 1vw;

  }
}


.main_cuartolandscape{
  display: none;
}


@media (orientation: portrait) {

  .main_cuartolandscape{
    position: absolute;
    background: #563214;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }
  .main_cuartolandscape img{
    width: 40%;
  }
  .mainini{  
    display: none;
  }
  .introduccion{
    display: none;
  }

.actividad{
  display: none;
}
  
}
