
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .no-scroll-y {
    overflow-y: hidden;
  }

  /* Preloader */
  .ctn-preloader {
    align-items: center;
    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
  }

  .ctn-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
  }

  /* Spinner cargando */
  .ctn-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: #ec2f00; /* No se identa por orden alfabetico para que no lo sobre-escriba */
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
  }

  /* Texto cargando */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 5em 'Montserrat', sans-serif;
    text-align: center;
    user-select: none;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    color: #ec2f00;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: rgba(0, 0, 0, 0.2);
    position: relative;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    animation-delay: 0.2s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    animation-delay: 0.4s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    animation-delay: 0.6s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    animation-delay: 0.8s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    animation-delay: 1s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    animation-delay: 1.2s;
  }

  .ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
    animation-delay: 1.4s;
  }

  .ctn-preloader .loader-section {
    background-color: black;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
  }

  .ctn-preloader .loader-section.section-left {
    left: 0;
  }

  .ctn-preloader .loader-section.section-right {
    right: 0;
  }

  /* Efecto de fade en la animaci칩n de cargando */
  .loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
  }

  /* Efecto de cortina */
  .loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
  }

  .loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
  }

  /* Animaci칩n del preloader */
  @keyframes spinner {
    to {
      transform: rotateZ(360deg);
    }
  }

  /* Animaci칩n de las letras cargando del preloader */
  @keyframes letters-loading {
    0%,
    75%,
    100% {
      opacity: 0;
      transform: rotateY(-90deg);
    }

    25%,
    50% {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }


body{
      background-color: #1a2740;
}
.btnmenu{
      padding: 10px;
      top:50px;
      position: fixed;
      z-index: 1;
}
.btnmenu .menuicono{
      color: #ec6836;
      font-size: 4em;
      font-weight: bold;
      cursor: pointer;
      -webkit-box-shadow: -2px -5px 62px 7px rgba(250,247,250,0.8);
      -moz-box-shadow: -2px -5px 62px 7px rgba(250,247,250,0.8);
      box-shadow: -2px -5px 62px 7px rgba(250,247,250,0.8);
}
.btnmenu img{
      border-radius: 10px;
}

.nav{
      background-image: url(../img/fontb.jpg);
      background-position: 50% 50%;
      width: 100%;
      height: 100vh;
      background-size: cover;
      position: fixed;
      z-index: 2;
      width: 100%;
      height: 100vh;
      top: -150%;
      overflow-y: auto;
}
.logo-menu{
      padding: 50px;
}
.logo-menu img{
      border-radius: 25px;
      position: relative;
}

.menu-list a:link{
      text-decoration: none;
}

.menu-list p{
      padding: 15px;
      color: #f30;
      font-size: 30px;
      font-weight: 100;
      position: relative;
      background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
      font-size: 30px;
      line-height: .75;
      margin: 10px 0;
}
.menu-list{
  padding: 15px;
}
.equis-menu{
      text-align: center;
      color: #d72a00;
      cursor: pointer;
}
.equis-menu i{
      width: 50px;
      border-radius: 50px;
      text-align: center;
      font-size: 5em;
      color: #ec6836;
      cursor: pointer;


}


table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */

a{
  color: #333;
  text-decoration: none;
}
.container{
  position: relative;
  text-align: center;
}
.clr{
  clear: both;
}
.container > header{
  padding: 30px 30px 10px 20px;
  margin: 0px 20px 10px 20px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
  font-family: "helvetica neue", helvetica;
  font-size: 35px;
  line-height: 35px;
  position: relative;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{

}
.container > header h2, p.info{
  font-size: 16px;
  font-style: italic;
  color: #f8f8f8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.slideshow,
.slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.slideshow:after {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
  -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.slideshow li div h3 {
  font-family: "helvetica neue", helvetica;
  position: relative;
  text-transform: uppercase;
  font-size: 80px;
  padding: 0;
  /*line-height: 400px;*/
  color: white;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 9px 1px 4px rgba(0,0,0,0.59);
}
.slideshow li:nth-child(1) span { background-image: url(../img/ales-nesetril-734016-unsplash.jpg) }
.slideshow li:nth-child(2) span {
    background-image: url(../img/web.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url('../img/cam.jpg');
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
    background-image: url(../img/punto.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
    background-image: url(../img/sistem.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
    background-image: url(../img/gat.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
  0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -webkit-transform: scale(1.05);
      -webkit-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -webkit-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -webkit-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
  0% {
      opacity: 0;
      -moz-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -moz-transform: scale(1.05);
      -moz-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -moz-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -moz-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
  0% {
      opacity: 0;
      -o-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -o-transform: scale(1.05);
      -o-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -o-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -o-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
  0% {
      opacity: 0;
      -ms-animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      -ms-transform: scale(1.05);
      -ms-animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      -ms-transform: scale(1.1);
  }
  25% {
      opacity: 0;
      -ms-transform: scale(1.1);
  }
  100% { opacity: 0 }
}
@keyframes imageAnimation { 
  0% {
      opacity: 0;
      animation-timing-function: ease-in;
  }
  8% {
      opacity: 1;
      transform: scale(1.05);
      animation-timing-function: ease-out;
  }
  17% {
      opacity: 1;
      transform: scale(1.1);
  }
  25% {
      opacity: 0;
      transform: scale(1.1);
  }
  100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
  0% {
      opacity: 0;
      -webkit-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -webkit-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -webkit-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
  0% {
      opacity: 0;
      -moz-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -moz-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -moz-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -moz-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
  0% {
      opacity: 0;
      -o-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -o-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -o-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -o-transform: scale(10);
  }
  100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
  0% {
      opacity: 0;
      -ms-transform: translateY(200px);
  }
  8% {
      opacity: 1;
      -ms-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -ms-transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      -webkit-transform: scale(10);
  }
  100% { opacity: 0 }
}
@keyframes titleAnimation { 
  0% {
      opacity: 0;
      transform: translateY(200px);
  }
  8% {
      opacity: 1;
      transform: translateY(0px);
  }
  17% {
      opacity: 1;
      transform: scale(1);
  }
  19% { opacity: 0 }
  25% {
      opacity: 0;
      transform: scale(10);
  }
  100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
  opacity: 1;
}
@media screen and (max-width: 1140px) { 
  .slideshow li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) { 
  .slideshow li div h3 { font-size: 50px }
}

.redes .face{
  width: 50px; padding: 15px;border-radius: 15px; background-color: white;
  cursor: pointer;
  margin-right: 10px;
}

.redes .insta{
  width: 50px; padding: 15px;border-radius: 15px; background-color: white;
  cursor: pointer;
  margin-right: 10px;
}

.redes .youtube{
  width: 50px; padding: 15px;border-radius: 15px; background-color: white;
  cursor: pointer;
  margin-right: 10px;
}

.redes .whats{
  width: 50px; padding: 15px;border-radius: 15px; background-color: white;
  cursor: pointer;
}



/*.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}*/
















  /* Tama침o de portatil hacia atras (portatil, tablet, celular) */
  @media screen and (max-width: 767px) {

    /* Preloader */
    /* Spinner cargando */  
    .ctn-preloader .animation-preloader .spinner {
      height: 8em;
      width: 8em;
    }

    /* Texto cargando */
    .ctn-preloader .animation-preloader .txt-loading {
      font: bold 3.5em 'Montserrat', sans-serif;
    }
  }

  @media screen and (max-width: 500px) {
    /* Prelaoder */
    /* Spinner cargando */
    .ctn-preloader .animation-preloader .spinner {
      height: 7em;
      width: 7em;
    }

    /* Texto cargando */
    .ctn-preloader .animation-preloader .txt-loading {
      font: bold 2em 'Montserrat', sans-serif;
    }
  }


@media (max-width: 767px) {
    .container > header{
      padding-left: 15%;
      padding-top: 300px;
  }
  .container > header img{
    border-radius: 25px;
    width: 200px;
  }

  .logo-menu{
    padding-left: 15%;
  }
  .logo-menuimg{
    border-radius: 25px;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .container > header{
    padding-left: 15%;
    padding-top: 400px;
  }
  .container > header img{
    border-radius: 25px;
  }

  .nav .logo-menu{
    padding-left: 15%;
  }
  .logo-menuimg{
    border-radius: 25px;
    width: 200px;
  }
}

@media (min-width: 1024px) {
   .container > header{
     padding-left: 25%;
     padding-top: 150px;
   }
   .container > header img{
     border-radius: 25px;
   }

   .nav .logo-menu{
     padding-left: 25%;
   }
   .logo-menuimg{
     border-radius: 25px;
     width: 200px;
   }
}


