@font-face{
  font-family: 'mikado';
  src:url(../fonts/boldedico.ttf) format('opentype');
}

.mainP{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.header{
	background-color: #040404e6;
}
.incioblock img{
	width: 100%;
	border-radius: 2vw;
	cursor: pointer;
}
.contP p{
	text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    font-family: mikado;
    animation: zoomimg 3s;
    margin-bottom: 0rem;
}
.mainP .fecha{
	    color: black;
}

.historia p{
	text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    font-family: mikado;
    animation: zoomimg 3s;
    background-color: #1d1d1d;
}

.classrebote{
	animation: todosFlotan 2s infinite;
}
.classrebote2{
	animation: todosFlotan 3s infinite;
}
.seccioneslugar p{
	text-align: center;
	font-family: mikado;
	color: white;
	font-size: 1.5rem;
	border-radius: 2vw;
	margin-top: 2rem;
}
.seccioneslugar .misa{
	background-color: #1d1d1d;
	cursor: pointer;
}
.seccioneslugar .comida{
	background-color: #1d1d1d;
	cursor: pointer;
}
.seccioneslugar .historia{
	background-color: #1d1d1d;
	cursor: pointer;
}
.btns{
	display: flex;
	justify-content: center;
}

.misdamas{
	background: #040404e6;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-family: mikado;
    font-weight: 500;
    outline: none;
}
.miscaballeros{
	background: #040404e6;
    border: 0px;
    color: white;
    font-size: 1rem;
    font-family: mikado;
    font-weight: 500;
    outline: none;
}

.modalCaballeros{
	position: absolute;
	width: 100%;
	height: auto;
	display: none;
	top: 0;
	background: black;
	padding: 2rem;
	animation: zoomimg 1s;
}
.modalCaballerosCont img{
	width: 100%;
	margin: 1rem;
	border-radius: 2vw;
	-webkit-box-shadow: 4px 7px 44px -12px rgba(252,249,252,1);
	-moz-box-shadow: 4px 7px 44px -12px rgba(252,249,252,1);
	box-shadow: 4px 7px 44px -12px rgba(252,249,252,1);
}
.imgs{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgs p{
	color: white;
    font-size: 2rem;
    font-family: mikado;
    font-weight: 500;

}

.modalDamas{
	position: absolute;
	width: 100%;
	height: auto;
	display: none;
	top: 0;
	background: #400418;
	padding: 2rem;
	animation: zoomimg 1s;
}
.modalDamasCont img{
	width: 100%;
	margin: 1rem;
	border-radius: 2vw;
	-webkit-box-shadow: 4px 7px 44px -12px rgba(252,249,252,1);
-moz-box-shadow: 4px 7px 44px -12px rgba(252,249,252,1);
box-shadow: 4px 7px 44px -12px rgba(252,249,252,1);
}
.cerrar{
	font-size: 2rem;
    color: white;
    float: right;
    cursor: pointer;
    font-weight: bold;
}
.cerrard{
	font-size: 2rem;
    color: white;
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.mainP .sub{
	color: white;
}
.imfgif{
	display: flex;
    justify-content: center
}
.imfgif img{
	width: 20%;
}


@-webkit-keyframes todosFlotan{
  0%{-webkit-transform:translatey(-25px);transform:translatey(-25px)}
50%{-webkit-transform:translatey(0);transform:translatey(0)}
to{-webkit-transform:translatey(-25px);transform:translatey(-25px)}}

  @keyframes zoomimg {
    0% {
      -webkit-transform:scale(0.1);transform:scale(0.1)
    }
    100% {
      -webkit-transform:scale(1);transform:scale(1)
    }
  }



  @media (min-width: 900px){
  	.modalCaballerosCont img{
  		width: 50%;
  	}
  	.modalDamasCont img{
  		width: 50%;
  	}
  	.incioblock img{
  		width: 20%;
  	}
  	.incioblock{
  		display: flex;
  		justify-content: center;
  		align-items: center;
  	}
  }